**/.vs/**
**/Library/**
**/Logs/**
**/obj/**
**/Assets/Audio
**/Assets/Audio.meta
**/Assets/Editor
**/Assets/Editor.meta
**/Assets/Prefabs
**/Assets/Prefabs.meta
**/Assets/Runtime
**/Assets/Runtime.meta
**/Temp/**